body{
	font-family: Lora, sans-serif;
	background: green url("images/pexels-content-pixie-3554239.jpg");
	background-size: cover;
}
table{
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	border-collapse: collapse;
	

}
tr:nth-child(even) {background-color: #6B8E2350;}
td{
	vertical-align: middle;
	padding: 25px 50px 25px;

}
th{
	
	background-color: #6B8E23;
	color: white;
}
	
	h1{
		text-align:center;
		font-family: Ubuntu, sans-serif;
	}

}
.logout{
	background-color: #e7e7e7;
	
}

.user{
	float:right;
}

